<h1>New Product</h1>
<%= form_for @product do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  <%= f.label :price %>
  <%= f.text_field :price %>
  <br />
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br />
  <%= f.label :inventory %>
  <%= f.text_field :inventory %>
  <div class="actions">
  <%= f.submit "submit" %>
    </div>
<% end %>

<div id="productResult">
  <p id="productName"></p>
  <p id="productPrice"></p>
  <p id="productDescription"></p>
</div>


<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').on("submit", function(event) {
      //prevent form from submitting the default way
      event.preventDefault();
      console.log("it worked");
      var values = $(this).serialize();
      console.log(values);
      var posting = $.post('/products', values);
      console.log(typeof posting);
      posting.done(function(data){
        console.log(data);
        var products = data;
        console.log(data);
        $("#productName").text(products["name"]);
        $("#productPrice").text(products["price"]);
        $("#productDescription").text(products["description"]);
      });
    });
  });
</script>
